/* 1800 */
@media screen and (max-width: 1800px) {
    .hero_info h1 {font-size: 50px;}
    .hero_video {padding: 25px;}
    .hero_video_info { margin: 25px auto 0; padding: 25px;}

    .main_info h2 {font-size: 42px;}

    .bottom1_heading h2 {font-size: 50px;}
    .bottom1_info p { font-size: 32px;}
    
    .bottom2_con p {font-size: 75px;}

    .footer_con p {font-size: 50px;}
    
}

/* 1400 */
@media screen and (max-width: 1400px) {
    .hero_info h1 {font-size: 42px;}
    
   
    .bottom1_heading h2 {font-size: 42px;}
    .bottom2_con p {font-size: 64px;}
    .footer_con p {font-size: 64px;}
}

/* 1010 */
@media screen and (max-width: 1010px) {
    .hero_info {align-items: center; gap: 25px 200px; flex-direction: column;}
    .hero_video_info h2 {font-size: 42px;}

    .main_cards div {max-width: 250px;}

    .bottom1_con {align-items: center; justify-content: center;}

    .footer_con {min-height: 0;}
    .footer_con p {font-size: 32px;}
}

/* 800 */
@media screen and (max-width: 800px) {
    .portfolio_btn_con { position: fixed; right: 0; bottom: 20px; right: 10px; z-index: 9;}

    .main_cards {flex-direction: column; padding: 50px 0; }
    .main_cards div { max-width: 300px; }
    .circles_con div {height: 100px; width: 125px; margin-top: -45px; }

    #bottom1 {padding-bottom: 100px;}
    .bottom1_con {min-height: 0; flex-direction: column !important; padding-bottom: 25px;}
    .bottom1_images { display: flex; gap: 25px;}
    .bottom1_images img {position: static; width: 100%;}
    .bottom1_info p {font-size: 24px;}
    
}

/* 600 */
@media screen and (max-width: 600px) {
    #header {flex-direction: column; gap: 20px;}

    #nav .nav_con {gap: 25px}

    .hero_info h1 {font-size: 32px;}

    .hero_video_info h2 { font-size: 32px; }

    .main_info h2 { font-size: 32px; }

    .bottom2_con p {font-size: 42px;}

    .footer_con {padding-bottom: 75px; }
}