@import url('hthttps://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    --priColor: #c9fe6e;
    --secColor: #fff;
    --thiColor: #121212;    
    --priFont: "Lato", sans-serif;
    --secFont: 'Space Grotesk', sans-serif;
    --defaultFont: 18px;
    --headingFont: clamp(24px, 10vw ,64px);
}

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; line-height: 125%;}

/* HTML5 display-role reset for older browsers */
html{overflow-x: hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 100%; font-family: var(--priFont); font-size: var(--defaultFont); overflow-x: hidden;}
ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select { -webkit-appearance: none; }
form, label { -webkit-text-size-adjust: 100%; }
mark { background-color: transparent; color: inherit; }
body, html { overflow-x: hidden; }
body.active { overflow: hidden; width: 100%; height: 100%; position: fixed !important; }
a { text-decoration: none; -webkit-transition: all .3s linear; transition: all .3s linear;color: inherit; }
img { max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast; }
textarea { resize: vertical; }
iframe { border: none; width: 100%; }
ul, h1, h2, h3, h4 { margin: 0; padding: 0; list-style: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

.wrapper{max-width: 1800px; margin: 0 auto;}

#header { display: flex; justify-content: space-between; min-height: 50px; align-items: center; padding: 25px;}
    .main_logo_con {font-family: var(--secFont);}
#nav
    .nav_con {display: flex; gap: 50px;}
    .nav_con li a {position: relative;}
    .nav_con li a:after { content: ''; position: absolute; left: 0; bottom: -5px; width: 100%; height: 2px; background: var(--thiColor); transform: scaleX(0); transform-origin: center; transition: transform 0.4s ease; }
    .nav_con li a:hover:after { transform: scaleX(1); }

    .portfolio_btn_con a {background: var(--priColor); color: var(--thiColor); padding: 10px 25px; border-radius: 5px; font-family: var(--secFont);}
    .portfolio_btn_con a:hover {background: var(--thiColor); color: var(--priColor);}

#hero {min-height: 100vh;}
    .hero_info {display: flex; align-items: end; gap: 0 200px; padding: 50px 50px 0;}
    .hero_info h1 {font-size: 64px; font-family: var(--secFont); }
    .hero_info h1 span{display: block; line-height: 100%;}
    .hero_info p{font-size: var(--defaultFont);}
    .hero_info p span{display: block;}

    .hero_video {max-width: 100%; margin-top: 50px; display: flex;;}
    .hero_video video {width: 100%; border-radius: 20px;}

    .hero_video_info {display: flex; flex-direction: column;justify-content: center;  margin: 345px 200px 0 auto; max-width: 1080px}
    .hero_video_info p{font-size: var(--defaultFont); padding-bottom: 25px;}
    .hero_video_info h2 {font-size: 42px;font-family: var(--secFont);}

    .hero_video_btn {margin: 100px auto 150px; text-align: center;}
    .hero_video_btn a {background: var(--priColor); color: var(--thiColor); padding: 10px 25px; border-radius: 5px; font-family: var(--secFont);}
    .hero_video_btn a:hover {background: var(--thiColor); color: var(--priColor);}

#main {min-height: 100vh; background: var(--thiColor);}
    .circles_con {display: flex;justify-content: center; width: 1920px; margin-left: 50%; transform: translateX(-50%)}
    .circles_con div {background: var(--thiColor); height: 150px; width: 175px; border-radius: 50%; margin-top: -75px;}

    .main_info {text-align: center;}
    .main_info h2 {color: var(--secColor); font-size: var(--headingFont); font-family: var(--secFont);}
    .main_info h2 span {display: block;}

    .main_cards {color: var(--secColor); display: flex; justify-content: center; align-items: center; gap: 20px; min-height: 500px;}
    .main_cards div {min-height: 400px; max-width: 300px; background: #000; rotate: 4deg; margin: 0 0 0 -30px; border: 1px solid #e1e1e1; padding: 20px; border-radius: 20px;}
    .main_cards div h2 {font-family: var(--secFont); font-size: 32px}
    .main_cards div p {}

#bottom1 {min-height: 100vh; background: var(--thiColor); color: var(--secColor);}  
    .bottom1_heading {text-align: center; padding-bottom: 100px; }
    .bottom1_heading h2 {font-size: 64px; font-family: var(--secFont); font-weight: bold; text-align: center}
    .bottom1_heading h2 div {}
    .bottom1_heading h2 span{display: block; line-height: 100%;}

    .bottom1_con {display: flex; min-height: 100vh; margin-top: 50px; padding-bottom: 200px;}
    .bottom1_con:nth-child(even) {flex-direction: row-reverse; gap: 0 150px;}

    .bottom1_info {width: 100%; padding: 25px;}
    .bottom1_info p {font-size: var(--headingFont);}

    .bottom1_images {position: relative; width: 100%;}
    .bottom1_images img {position:absolute; right: 0; border-radius: 20px;}

#bottom2 {}
    #bottom2 .pin-spacer {overflow: hidden !important;}
    .bottom2_con{min-height: 200vh}
    .bottom2_con p{font-size: 100px; font-family: var(--secFont); color: var(--thiColor)}
    
#footer {background: var(--thiColor); }
    .footer_con {display: flex; justify-content: space-between; align-items: end; min-height: 300px; padding: 25px;}
    .footer_con .copyright p{font-size: var(--defaultFont); text-align: left;}
    .footer_con p {font-size: 100px; color:var(--secColor); text-align: right; font-weight: bold; }
    .footer_con p span {display: block;}


.line {overflow: hidden;}
